:root {
      /* SLD Voltage Level Colors */
  --sld-disconnected: #808080;
  --sld-vl300to500-0: #FF0000;
  --sld-vl300to500-1: #7F6C00;
  --sld-vl300to500-2: #F6B2FF;
  --sld-vl300to500-3: #996700;
  --sld-vl300to500-4: #FF85EB;
  --sld-vl300to500-5: #B25B00;
  --sld-vl300to500-6: #FF59B5;
  --sld-vl300to500-7: #CC4400;
  --sld-vl300to500-8: #FF2C67;
  --sld-vl300to500-9: #E52600;
  --sld-vl180to300-0: #218B21;
  --sld-vl180to300-1: #0D4940;
  --sld-vl180to300-2: #DFDAB9;
  --sld-vl180to300-3: #105640;
  --sld-vl180to300-4: #C2CB92;
  --sld-vl180to300-5: #14643C;
  --sld-vl180to300-6: #95B66B;
  --sld-vl180to300-7: #187036;
  --sld-vl180to300-8: #5FA046;
  --sld-vl180to300-9: #1C7E2D;
  --sld-vl120to180-0: #00AFAE;
  --sld-vl120to180-1: #000D58;
  --sld-vl120to180-2: #B8E7B2;
  --sld-vl120to180-3: #002169;
  --sld-vl120to180-4: #85D993;
  --sld-vl120to180-5: #003C7B;
  --sld-vl120to180-6: #59CB8B;
  --sld-vl120to180-7: #005C8C;
  --sld-vl120to180-8: #2CBD94;
  --sld-vl120to180-9: #00839E;
  --sld-vl70to120-0: #CC5500;
  --sld-vl70to120-1: #4A6600;
  --sld-vl70to120-2: #EFB2DD;
  --sld-vl70to120-3: #6E7A00;
  --sld-vl70to120-4: #E685AE;
  --sld-vl70to120-5: #8E8400;
  --sld-vl70to120-6: #DD596B;
  --sld-vl70to120-7: #A37B00;
  --sld-vl70to120-8: #D4432C;
  --sld-vl70to120-9: #B76B00;
  --sld-vl50to70-0: #A020EF;
  --sld-vl50to70-1: #7F0848;
  --sld-vl50to70-2: #B7DBFE;
  --sld-vl50to70-3: #960C6D;
  --sld-vl50to70-4: #8DA6FE;
  --sld-vl50to70-5: #AD109A;
  --sld-vl50to70-6: #6F66FB;
  --sld-vl50to70-7: #BC14C4;
  --sld-vl50to70-8: #7F42F6;
  --sld-vl50to70-9: #B11AD9;
  --sld-vl30to50-0: #FF8290;
  --sld-vl30to50-1: #7F6F41;
  --sld-vl30to50-2: #F6D9FF;
  --sld-vl30to50-3: #99784E;
  --sld-vl30to50-4: #FFC3FB;
  --sld-vl30to50-5: #B27D5B;
  --sld-vl30to50-6: #FFADE3;
  --sld-vl30to50-7: #CC7E68;
  --sld-vl30to50-8: #FF97BF;
  --sld-vl30to50-9: #E57B75;
  --sld-vl0to30-0: #AAAE27;
  --sld-vl0to30-1: #195B0F;
  --sld-vl0to30-2: #EABABE;
  --sld-vl0to30-3: #2D6C13;
  --sld-vl0to30-4: #DDA193;
  --sld-vl0to30-5: #477D17;
  --sld-vl0to30-6: #CE9A6E;
  --sld-vl0to30-7: #648D1C;
  --sld-vl0to30-8: #BEA04A;
  --sld-vl0to30-9: #869D22;
}

.dark {
     /* SLD Voltage Level Colors - Mode sombre */
  --sld-disconnected: hsl(0 0% 60%);
  --sld-vl300to500-0: hsl(0 100% 60%);
  --sld-vl300to500-1: hsl(51 100% 35%);
  --sld-vl300to500-2: hsl(293 100% 95%);
  --sld-vl300to500-3: hsl(40 100% 40%);
  --sld-vl300to500-4: hsl(310 100% 86%);
  --sld-vl300to500-5: hsl(31 100% 45%);
  --sld-vl300to500-6: hsl(327 100% 77%);
  --sld-vl300to500-7: hsl(20 100% 50%);
  --sld-vl300to500-8: hsl(343 100% 69%);
  --sld-vl300to500-9: hsl(10 100% 55%);
  --sld-vl180to300-0: hsl(120 62% 44%);
  --sld-vl180to300-1: hsl(171 70% 27%);
  --sld-vl180to300-2: hsl(52 37% 90%);
  --sld-vl180to300-3: hsl(161 69% 30%);
  --sld-vl180to300-4: hsl(69 35% 78%);
  --sld-vl180to300-5: hsl(150 67% 34%);
  --sld-vl180to300-6: hsl(86 34% 67%);
  --sld-vl180to300-7: hsl(140 65% 37%);
  --sld-vl180to300-8: hsl(103 39% 55%);
  --sld-vl180to300-9: hsl(130 64% 40%);
  --sld-vl120to180-0: hsl(180 100% 44%);
  --sld-vl120to180-1: hsl(231 100% 27%);
  --sld-vl120to180-2: hsl(113 52% 90%);
  --sld-vl120to180-3: hsl(221 100% 31%);
  --sld-vl120to180-4: hsl(130 53% 79%);
  --sld-vl120to180-5: hsl(211 100% 34%);
  --sld-vl120to180-6: hsl(146 52% 67%);
  --sld-vl120to180-7: hsl(201 100% 37%);
  --sld-vl120to180-8: hsl(163 62% 56%);
  --sld-vl120to180-9: hsl(190 100% 41%);
  --sld-vl70to120-0: hsl(25 100% 50%);
  --sld-vl70to120-1: hsl(76 100% 30%);
  --sld-vl70to120-2: hsl(318 66% 92%);
  --sld-vl70to120-3: hsl(66 100% 34%);
  --sld-vl70to120-4: hsl(335 66% 81%);
  --sld-vl70to120-5: hsl(56 100% 38%);
  --sld-vl70to120-6: hsl(352 66% 71%);
  --sld-vl70to120-7: hsl(45 100% 42%);
  --sld-vl70to120-8: hsl(8 66% 60%);
  --sld-vl70to120-9: hsl(35 100% 46%);
  --sld-vl50to70-0: hsl(277 87% 63%);
  --sld-vl50to70-1: hsl(328 88% 36%);
  --sld-vl50to70-2: hsl(210 97% 95%);
  --sld-vl50to70-3: hsl(318 85% 42%);
  --sld-vl50to70-4: hsl(227 98% 87%);
  --sld-vl50to70-5: hsl(307 83% 47%);
  --sld-vl50to70-6: hsl(244 95% 79%);
  --sld-vl50to70-7: hsl(297 81% 52%);
  --sld-vl50to70-8: hsl(260 91% 71%);
  --sld-vl50to70-9: hsl(287 79% 58%);
  --sld-vl30to50-0: hsl(353 100% 85%);
  --sld-vl30to50-1: hsl(45 32% 48%);
  --sld-vl30to50-2: hsl(286 100% 95%);
  --sld-vl30to50-3: hsl(34 32% 55%);
  --sld-vl30to50-4: hsl(304 100% 95%);
  --sld-vl30to50-5: hsl(23 36% 63%);
  --sld-vl30to50-6: hsl(320 100% 94%);
  --sld-vl30to50-7: hsl(13 50% 70%);
  --sld-vl30to50-8: hsl(337 100% 90%);
  --sld-vl30to50-9: hsl(3 68% 78%);
  --sld-vl0to30-0: hsl(62 63% 52%);
  --sld-vl0to30-1: hsl(112 72% 31%);
  --sld-vl0to30-2: hsl(355 53% 92%);
  --sld-vl0to30-3: hsl(102 70% 35%);
  --sld-vl0to30-4: hsl(11 52% 82%);
  --sld-vl0to30-5: hsl(92 69% 39%);
  --sld-vl0to30-6: hsl(27 49% 72%);
  --sld-vl0to30-7: hsl(82 67% 43%);
  --sld-vl0to30-8: hsl(44 47% 62%);
  --sld-vl0to30-9: hsl(71 64% 47%);
}